/.idea
/Build
/.vs
!/SimulationAndVisualizationOfSnow
/SimulationAndVisualizationOfSnow/*
!/SimulationAndVisualizationOfSnow/src
!/SimulationAndVisualizationOfSnow/SimulationAndVisualizationOfSnow.*
